@model Arabitey.Models.Post
@{
    SelectList brandlist = new SelectList(ViewBag.brands, "ID", "BrandName");
    SelectList modellist = new SelectList(ViewBag.models, "ID", "ModelName");
    SelectList yearlist = new SelectList(ViewBag.years, "ID", "ModelYear");
}



<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>Add Post</title>

    <!-- Google font -->


</head>

<body>
    <div class="form-header">
        <h1>Post</h1>
    </div>
    <div id="booking" class="section">
        <div class="section-center">
            <div class="container">
                <div class="row">
                    <div class="booking-form">

                        <form action="/SellingPostViewModel/saveEdit" method="post">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="ID" />


                            <div class="row">
                                <div class="col-sm-6">
                                    <span class="form-label">Name</span>
                                    <input asp-for="Name" class="form-control" placeholder="Enter your name" />
                                    <span asp-validation-for="Name" class="text-danger"></span>
                                </div>


                                @*<div class="col-sm-6">
                                          <span class="form-label">Name</span>

                                        <input asp-for="adv_type" class="form-control" />

                                    </div>*@

                                @*<div class="form-group">
                                        <label asp-for="post_date" class="control-label"></label>
                                        <input asp-for="post_date" class="form-control" />
                                        <span asp-validation-for="post_date" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Rental_Start_DT" class="control-label"></label>
                                        <input asp-for="Rental_Start_DT" class="form-control" />
                                        <span asp-validation-for="Rental_Start_DT" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Rental_End_DT" class="control-label"></label>
                                        <input asp-for="Rental_End_DT" class="form-control" />
                                        <span asp-validation-for="Rental_End_DT" class="text-danger"></span>
                                    </div>*@
                                <div class="col-sm-6">
                                    <span class="form-label">Description</span>
                                    <input asp-for="Description" class="form-control" />

                                </div>
                            </div>



                            <div class="row">
                                <div class="col-sm-6">
                                    <span class="form-label">Color</span>
                                    <input asp-for="car.Color" class="form-control" />

                                </div>
                                <div class="col-sm-6">
                                    <span class="form-label">Car_Type</span>
                                    <input asp-for="car.Car_Type" class="form-control" />

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <span class="form-label">Distance</span>
                                    <input asp-for="car.Distance" class="form-control" />

                                </div>
                                <div class="col-sm-6">
                                    <span class="form-label">Price</span>
                                    <input asp-for="car.Price" class="form-control" />

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <span class="form-label">Motion_Number</span>
                                    <input asp-for="car.Motion_vector" class="form-control" />

                                </div>
                                <div class="col-sm-6">
                                    <span class="form-label">Car_Number</span>
                                    <input asp-for="car.Car_Number" class="form-control" />

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <span class="form-label">Brand_Name</span>
                                    <select class="form-control" asp-for="car.BrandId" asp-items="brandlist">
                                        <option value="0">Select Brand</option>
                                    </select>
                                </div>
                                <div class="col-sm-4">
                                    <span class="form-label">Model Name</span>
                                    <select class="form-control" asp-for="car.carModName_id" asp-items="modellist">
                                        <option value="0">Select ModelYear</option>
                                    </select>
                                </div>

                                <div class="col-sm-4">
                                    <span class="form-label">Model Year</span>
                                    <select class="form-control" asp-for="car.carmoodyear" asp-items="yearlist">
                                        <option value="0">Select ModelYear</option>
                                    </select>
                                </div>
                            </div>


                            <div class="form-group">
                                <input type="submit" value="Save" class="btn btn-primary" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>